jupyterlab>=2.0
jedi==0.17.0
# jupyterlab-lsp does not support 0.18
pyspark
findspark
networkx
numpy
gensim
pandas
sklearn
beautifulsoup4
keras
tensorflow
joblib
matplotlib
mlxtend
xgboost
seaborn
ipywidgets
jupyterlab_latex
plotly
bokeh
scipy
numexpr
patsy
scikit-learn
scikit-image
ipython
sympy
nose
jupyter-lsp
python-language-server
jupyterlab-git
tqdm

pandas-datareader
rdflib
SPARQLWrapper
networkx
biothings
cwltool
papermill
